* {
    box-sizing: border-box;
    margin:0;
}

/* ==== GRID SYSTEM ==== */




.container {
  width: 96%;
  margin:auto;
  color:blue;
  max-width: 1200px;
}

.row {
  position: relative;
  width: 100%;
  
}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
}


.col-1 {
    width: 8.33%;
    background: rgba(248,247,247);
  }

  .col-2 {
    width: 16.66%;
    background: rgba(249,239,237);
  }

  .col-3 {
    width: 25%;
    background: rgba(252,231,226);   
  }

  .col-4 {
    width: 33.33%;
    background: rgba(246,216,208);
  }

  .col-5 {
    width: 41.67%;
    background: rgba(246,201,187);
  }

  .col-6 {
    width: 50%;
    background: rgba(249,192,170);
  }
  

  .col-7 {
    width: 58.33%;
    background: rgba(249,179,147);
  }

  .col-8 {
    width: 66.67%;
    background: rgba(249,166,125);
  }

  .col-9 {
    width: 75%;
    background: rgba(248,155,104);
  }

  .col-10 {
    width: 83.33%;
    background: rgba(247,143,75);
  }

  .col-11 {
    width: 91.67%;
    background: rgba(244,124,40);
  }

  .col-12 {
    width: 100%;
    background: rgba(242,103,34);
  }

/* This is clearfix, clearing content after each row*/
.row::after {
	content: "";
	display: table;
	clear: both;
}

div [class^="col"] {
    height:100px;
    border: 1px solid white;
   
}